In [1]:
import pandas as pd

In [4]:
data = {
    "Edad" : [23, 25, 26, 24, 30, 24, 22, 28, 27, 24],
    "Salario" : [48, 52, 58, 49, 60, 48, 50, 62, 59, 54]
}

In [5]:
#Medidas de tendencia central
#Media

df= pd.DataFrame(data)

In [7]:
media_edad = df['Edad']. mean()
media_salario = df['Salario'].mean()

In [20]:
df.describe()

            Edad    Salario
count  10.000000  10.000000
mean   25.300000  54.000000
std     2.451757   5.354126
min    22.000000  48.000000
25%    24.000000  49.250000
50%    24.500000  53.000000
75%    26.750000  58.750000
max    30.000000  62.000000

In [8]:
mediana_edad = df['Edad'].median()
mediana_salario = df['Salario'].median()

In [10]:

moda_edad = df['Edad'].mode()[0]
moda_salario = df['Salario'].mode()[0]

In [11]:
#dispersión

rango_edad = df['Edad'].max() - df['Edad'].min()
rango_salario = df ['Salario'].max() - df['Salario'].min()

In [12]:
varianza_edad = df['Edad'].var()
varianza_salario = df['Salario'].var()

In [13]:
desviacion_edad = df['Edad'].std()
desviacion_salario = df['Salario'].std()

In [14]:
#Medidas de posición
#Calcular los percentiles
percentil_25_edad = df['Edad'].quantile(0.25)
percentil_50_edad = df['Edad'].quantile(0.50)
percentil_75_edad = df['Edad'].quantile(0.75)

percentil_25_salario = df['Salario'].quantile(0.25)
percentil_50_salario = df['Salario'].quantile(0.50)
percentil_75_salario = df['Salario'].quantile(0.75)

#Los cuartiles son simplemente los percentiles 25,50 y 75
cuartil_1_edad = percentil_25_edad
cuartil_2_edad = percentil_50_edad
cuartil_3_edad = percentil_75_edad

cuartil_1_salario = percentil_25_salario
cuartil_2_salario = percentil_50_salario
cuartil_3_salario = percentil_75_salario

In [15]:
#calcular los deciles

deciles_edad = df['Edad'].quantile ([i/10 for i in range (1,10)])
deciles_salario = df['Salario'].quantile ([i/10 for i in range (1,10)])

In [17]:
#Mostrar resultados
print("Medidas de tendencia central")
print(f"Media- edad: {media_edad:0.3} Salario: {media_salario:0.3}")
print("Mediana - Edad:", mediana_edad, ", Salario:", mediana_salario)
print("Moda - Edad:", moda_edad, ", Salario:", moda_salario)
print()

print("Medidas de Dispersión")
print("Rango - Edad:", rango_edad, ", Salario:", rango_salario)
print("Varinza - Edad:", varianza_edad, ", Salario:", varianza_salario)
print("Desviación Estándar - Edad:", desviacion_edad, ", Salario:", desviacion_salario)
print()

print("Medidas de Posición")
print("Percentiles - Edad: 25%", percentil_25_edad, "50%,", percentil_50_edad, "75%,", percentil_75_edad)
print("Percentiles - Salario: 25%", percentil_25_salario, "50%", percentil_50_salario, "75%", percentil_75_salario)
print()
print("Cuartiles - Edad: Q1", cuartil_1_edad, "Q2", cuartil_2_edad, "Q3", cuartil_3_edad)
print("Cuartiles - Salario: Q1", cuartil_1_salario, "Q2", cuartil_2_salario, "Q3", cuartil_3_salario)
print("Deciles - Edad:", deciles_edad)
print("Deciles - Salario:", deciles_salario)

Medidas de tendencia central
Media- edad: 25.3 Salario: 54.0
Mediana - Edad: 24.5 , Salario: 53.0
Moda - Edad: 24 , Salario: 48

Medidas de Dispersión
Rango - Edad: 8 , Salario: 14
Varinza - Edad: 6.011111111111111 , Salario: 28.666666666666668
Desviación Estándar - Edad: 2.4517567397911058 , Salario: 5.354126134736337

Medidas de Posición
Percentiles - Edad: 25% 24.0 50%, 24.5 75%, 26.75
Percentiles - Salario: 25% 49.25 50% 53.0 75% 58.75

Cuartiles - Edad: Q1 24.0 Q2 24.5 Q3 26.75
Cuartiles - Salario: Q1 49.25 Q2 53.0 Q3 58.75
Deciles - Edad: 0.1    22.9
0.2    23.8
0.3    24.0
0.4    24.0
0.5    24.5
0.6    25.4
0.7    26.3
0.8    27.2
0.9    28.2
Name: Edad, dtype: float64
Deciles - Salario: 0.1    48.0
0.2    48.8
0.3    49.7
0.4    51.2
0.5    53.0
0.6    55.6
0.7    58.3
0.8    59.2
0.9    60.2
Name: Salario, dtype: float64